/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

* body {
  border: 1px solid orange;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
}
#site_header {
  background-color: orange;
}
}
#logo {
  color: orange;
  padding: orange;
}
nav a {
  color: white;
  border: 1px white solid;
  border-radius: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
#page_content section:nth-child(5) {
  background-color: grey;
  font-size: 20px;
  margin: 10px;
}
h2 {
  color: blue;
}
a {
  color: blue;
}
ul {
  font-weight: bold;
}
h2.table {
  border-top: solid grey 5px;
  padding: 20px;
}
table {
  border-collapse: collapse;
}
thead {
  color: white;
  background-color: blue;
}
table, tr, td {
  border: 1px solid blue;
  padding: 15px;
}
.name {
  width: 500px;
  height: 100px;
  color: white;
  background-color: orange;
}
#first_name {
  background-color: white;
  border-color: orange;
}
#last_name {
  background-color: white;
  border-color: white;
}
.city_container {
padding: 10px;
text-align: left;
}
label {
  font-weight: bold;
  padding: 10px;
}
#city {
  border-color: grey;
}
#bio {
    border: blue solid 1px;
    background-color: white;
    padding: 10px;
}
.submit_container {
background-color: white;
border-color: blue;
}
#submit_button {
  background-color: blue;
  color: white;
}
